<div class="container list">
    <br><br>
    <div class="row">
        <div>Search: <input type="text" ng-model="search" ng-change="filter()" placeholder="Search"/></div>
    </div>
    <hr>

    <h3>Employees</h3>
    <div class="dropdown sort-btn">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Sort
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="order('fName')">First Name</a></li>
            <li><a href="" ng-click="order('lName')">Last Name</a></li>
            <li><a href="" ng-click="order('title')">Title</a></li>
        </ul>
    </div>

    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="user in filtered = (users | filter : search) | orderBy:predicate:reverse | limitTo:pageSize:pageStart" >
            <td>
                <img src="{{ user.url }}" alt="Photo">
            </td>
            <td><span class="name">{{ user.fName }} {{ user.lName }}</span>
                <br><span class="title">{{ user.title }}</span>
            </td>
            <td>{{user.directReports.length}}</td>
            <td>
                <button class="btn" ng-click="deleteUser(user.id)">
                    <i class="material-icons large">delete</i>
                </button>
            </td>
            <td><a href="#/showUser/{{user.id}}">Detail</a></td>
        </tr>
        </tbody>
    </table>


    <button ng-click="viewAll()" class="btn btn-link view-page">View All</button>
    <button ng-click="changePageSize(5)" class="btn btn-link view-page">View 5</button>

    <hr>
    <button ng-disabled="currentPage == 1" ng-click="previousPage()">Previous</button>
    {{currentPage}}/{{numOfPages}}
    <button ng-disabled="currentPage >= users.length/pageSize || currentPage >= filtered.length/pageSize" ng-click="nextPage()">Next</button>
</div>

